@{
    ViewBag.Title = "About running";
    Layout = "~/Views/Shared/_LayoutDisqus.cshtml";
}
<h1>All about running</h1>
<article>
    <h3>How to start</h3>
    <img src="~/images/sunRise.jpg" class="media-object img-thumbnail margin-left-default" width="400" align="right" />
    <p class="badge clearfix">My short story</p>
    <p>
        It's morning. I'm in Norway and I'm waiting for a sun rise. It's a little bit cold, but I'm happy, because I wake up at about 6 a.m. and did the hardest
        thing in running - I started. Now I'm waiting for sunrise and endomorphins make me happy. I know that this day will be a bit better and I will be
        healthier. I think that there are no wasted days when you go out for a run.
    </p>
    <p class="badge clearfix">The main thing in running</p>
    <p>
        The main thing in running is that's very natural kind of sport. When our ancestors noticed a threat they started running. It's natural method for coping with stress.
        It's also helpful for our health - it helps clearing our body form bad toxins. For now people very often have stressful situations while ther're sitting in 
        offices (for example programmers). So running is a great sport for all the people whose have a sitting job (I think that all other sports will also be good).
    </p>
    <p class="badge clearfix">What I need to start?</p>
    <p>
        You may have doubts if you have appropriate shoes or enought good sports outfit to start running, but it doesn't really matter. The main thing is just go out
        and start - from today. Slower or faster - as you feel at current day.
    </p>
</article>



