@{
    ViewBag.Title = "About running";
    Layout = "~/Views/Shared/_LayoutTutorials.cshtml";
}
<h1>Examples</h1>
<article>
    <p class="badge clearfix">My short story</p>
    <p>
        Test
    </p>
</article>



