@{
    ViewBag.Title = "GITBasics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GITBasics!</h2>

<div class="row">

    <div class="col-md-10">


        <div id="toc">
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
        </div>

        <div id="toc2">
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
        </div>

        <div id="toc3">
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
        </div>

        <section id="GroupA" class="group">
            <h3>Group A</h3>
            <div id="GroupASub1" class="subgroup">
                <h4>Group A Sub 1</h4>
            </div>
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            <div id="GroupASub2" class="subgroup">
                <h4>Group A Sub 2</h4>
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            </div>
        </section>
        <section id="GroupB" class="group">
            <h3>Group B</h3>
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            <div id="GroupBSub1" class="subgroup">
                <h4>Group B Sub 1</h4>
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas            
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas

            </div>
            <div id="GroupBSub2" class="subgroup">
                <h4>Group B Sub 2</h4>
            </div>
        </section>
        <section id="GroupC" class="group">
            <h3>Group C</h3>
            <div id="GroupCSub1" class="subgroup">
                <h4>Group C Sub 1</h4>
            </div>
            <div id="GroupCSub2" class="subgroup">
                <h4>Group C Sub 2</h4>
            </div>
        </section>

        <section class="group">
            <h3>Group C</h3>
            fasdfasasdasd sdfs df sdfasdfasas
            <div class="subgroup">
                <h4>Group A Sub 1</h4>
                fasdfasasdasd sdfs df sdfasdfasas

            </div><div class="subgroup">
                <h4>Group A Sub 2</h4>
                asdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfasasdasd sdfs df sdfasdfas
            </div>
        </section>
    </div>

    <div class="col-md-2 nav-left">
        <nav class="bs-docs-sidebar">

            <script type="text/javascript">
                document.write("<ul id=\"sidebar\" class=\"nav nav-stacked fixed\">");

                for (i = 0; i < document.getElementsByClassName("group").length; i++) {
                    document.getElementsByClassName("group")[i].firstChild;
                }
                var y = document.getElementsByTagName("h3")[0];
                document.write("</ul>");
            </script>



            <ul id="sidebar" class="nav nav-stacked fixed">
                <li>
                    <a href="#GroupA">
                        
                        <script type="text/javascript">
                            var y = document.getElementsByTagName("h3")[0];
                            document.write(y);
                            </script>
Group A. Jakiś dłuższy napis. Może być tu dowolna nazwa.</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#GroupASub1">Sub-Group 1</a></li>
                        <li><a href="#GroupASub2">Sub-Group 2</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#GroupB">Group B</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#GroupBSub1">Sub-Group 1</a></li>
                        <li><a href="#GroupBSub2">Sub-Group 2</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#GroupC">Group C</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#GroupCSub1">Sub-Group 1</a></li>
                        <li><a href="#GroupCSub2">Sub-Group 2</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</div>