@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Views/Shared/_LayoutDisqus.cshtml";
}
<h2>List of tutorials</h2>

<p>Here you can find a list of programming tutorials:</p>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <div class="panel-heading ">
                <h4 class="panel-title bold-text">
                    Effective programmer tutorials<img height="27" class="margin-left-default" src="~/images/logo.png" />
                </h4>
            </div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <dl>
                    <dt>@Html.ActionLink("GIT Basics - tutorials", "GITBasics", "Tutorials")</dt>
                    <dd>A course that describe basic of GIT.</dd>
                    <dt>Under construction...</dt>
                    <dd>Under construction...</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <div class="panel-heading">
                <h4 class="panel-title bold-text">
                    C# tutorials<img height="27" alt="Logo C Sharp" class="margin-left-default" src="//upload.wikimedia.org/wikipedia/commons/7/72/Logo_C_Sharp.png" />
                </h4>
            </div>
        </a>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Currently this section is empty :/
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <div class="panel-heading">
                <h4 class="panel-title bold-text">
                    git tutorials<img height="27" alt="Git-logo" class="margin-left-default" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/64px-Git-logo.svg.png" />
                </h4>
            </div>
        </a>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <dl>
                    <dt>@Html.ActionLink("GIT Basics - tutorials", "GITBasics", "Tutorials")</dt>
                    <dd>A course that describe basic of GIT.</dd>
                    <dt>Under construction...</dt>
                    <dd>Under construction...</dd>
                </dl>
            </div>
        </div>
    </div>
</div>