@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Views/Shared/_LayoutTutorials.cshtml";
}
<h1>List of tutorials</h1>

<article>
    <!-- Main description -->
    <section>
        <p>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink("GIT Basics", "GITBasics", "Tutorials")</h4>
                    It's just a test tutorial
                </div>
            </div>
            <span class="badge clearfix">#efficiency</span><span class="badge clearfix">#tests</span>
        </p>
        <hr />
    </section>
</article>
