@{
    ViewBag.Title = "Tutorials";
    Layout = "~/Views/Shared/_LayoutCodes.cshtml";
}
<h1>List of tutorials</h1>

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@Html.ActionLink("JavaScript two dimensions tables", "JsBasics", "Htmljs")</h4>
			Course with two-dimentional tables and functions/constructors.
    </div>
</div>
<hr/>

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@Html.ActionLink("JavaScript two dimensions tables", "Radious", "Htmljs")</h4>
        Want to have your radious box? Or you just want to create one just for you? Here you'll find a recipe!
    </div>
</div>
<hr />

