@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<h2>Welcome!</h2>
<article>
    <p>
        This page is about my 2 passions - programming and running. At this page you can find:
    </p>
    <section>
        <h4>Tutorials</h4>
        <img src="~/images/code.png" class="media-object img-thumbnail margin-left-default" width="200" align="right" />
        <p>
            This is the main section of this web page. You can find here a lot of tutorials (or you will find a lot of them in near feature ;)).
        </p>
        <p>
            I decided to use there inline source code, that look like: <code>Example of inline source code.</code>.
        </p>
        <p>
            When I use examples of user's console input e.g. in GIT I decided to use there:
        </p>
        <p>
            <kbd>cd</kbd>
        </p>
        <p>
            When I use code examples it look like below:
        </p>
        <p>
            <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
        </p>
        <p>I think that for now is everythink :)</p>
    </section>
    <section>
        <h4>Running</h4>
        <img src="~/images/running.png" class="media-object img-thumbnail margin-left-default" width="200" align="right" />
        <p>
            This section is about running sessions - with endomondo. It contains short description and track of the training. On this webpage there is disqus enabled,
            so you can comment, give advices e.t.c.
            <blockquote>
                <p>I run because if I didn’t, I’d be sluggish and glum and spend too much time on the couch. I run to breathe the fresh air. I run to explore. I run to escape the ordinary. I run…to savor the trip along the way. Life becomes a little more vibrant, a little more intense. I like that.</p>
            </blockquote>
            
        </p>

    </section>

</article>