@{
    ViewBag.Title = "About running";
    Layout = "~/Views/Shared/_LayoutDisqus.cshtml";
    var size = 650;
}
<div id="fb-root"></div>
<script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_en/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>

<h2>Running</h2>
<article>
    <p class="badge">02 october 2014</p>
    <p>
        Running with Kamyl. The plan for this traning was strange. Me and Kamil decided to go jupming on one leg. It was hard task and we finished it ealier, because we were afraid of
        our muscles ;) The weather was great ;) Our distance was greater, but we had a problem with GPS at the begining. For this ran we haven't any other goals.
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=laE66_xpicA&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>

<article>
    <p class="badge">29 september 2014</p>
    <p>
        Running with Kamyl. We decided to run throught the Gdynia's boulevard. It was second running session with Kamyl. We had a plan to make some run accelerations - up to
        300 m. It was great temperature to run in t-shirts.
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=k9v4gY6uVdY&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>

<article>
    <p class="badge">26 september 2014</p>
    <p>
        Running with Kamyl. It was first trening with my freand and co-worker Kamyl. Our plan was to make four 50-metters accelerations. At the end of trening we were tired,
        so I think it was a good start :)
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=ouN22_TWV_w&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>

<article>
    <p class="badge">22 september 2014</p>
    <p>
        Running alone - it was something like "say hello to Gdynia" - I moved to the Gdynia and I want to check some tracks. This track was good, but I had a lot of stops
        and waiting for green light areas.
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=mk2iiMpjlHk&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>

<article>
    <p class="badge">17 september 2014</p>
    <p>
        Running alone - the main aim was to see the sunrise in Kristiansad and see the city at the morning :) It was one of the greatest trening for me. I also saw a few
        runners at the early morning :)
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=r2upkzYTbEs&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>

<article>
    <p class="badge">14 september 2014</p>
    <p>
        Running alone - I decided to go to the track that is near my home :)
    </p>
    <iframe src="https://www.endomondo.com/embed/workouts?w=q6o0QJyCCgQ&width=580&height=600&width=950&height=600" width="950" height="600" frameborder="0" scrolling="no"></iframe>
</article>



