@{
    ViewBag.Title = "About running";
    Layout = "~/Views/Shared/_LayoutDisqus.cshtml";
}
<h2>Running</h2>
<article>
    <p class="badge clearfix">How to start</p>

    <img src="~/images/sunRise.jpg" class="media-object img-thumbnail margin-left-default" width="400" align="right" />
    <p>
        What is the main thing in running? I think that is just to get start. No matter how good you are, how expensive are
        your shoes - just go out and start to run.
    </p>
</article>



