@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row shadows">
    <div class="col-md-9">
        @RenderBody()
    </div>

    <div class="col-md-3 nav-left">
		<div style="overflow:hidden;">
			<nav class="navigation hidden-xs hidden-sm">
				<ul class="media-list">
					<li class="media">
						<div class="pull-left">
							<img class="media-object" src="../../images/shared/logo.png" alt="Website logo" />
						</div>
						<div class="media-body">
							<h4 class="media-heading">jstcode<font color="darkgreen">.com</font><br />Just simple<br />typing code!</h4>
						</div>
					</li>
				</ul>
			</nav>
			<hr />
			<nav class="navigation">
			    <h3><span class="glyphicon glyphicon-thumbs-up"></span> Give a like
			    </h3>
                <div class="fb-like" style="margin:auto" data-href="http://jstcode.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</nav>
		</div>
    </div>
</div>
