@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        @RenderBody()
    </div>

    <div class="col-md-3 nav-left">
        <nav class="navigation hidden-xs hidden-sm">
            <ul class="media-list">
                <li class="media">
                    <div class="pull-left">
						<img class="media-object" src="../../images/shared/logo.png" alt="Website logo" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mateul<font color="darkgreen">.com</font><br />Programming,<br />running examples.</h4>
                    </div>
                </li>
            </ul>
        </nav>
        <hr />
        <nav class="navigation">
	        <div>
		        <h3><span class="glyphicon glyphicon-stats"></span> Motivate yourself!</h3>
				<blockquote class="pull-right">
					<p id="quoteText">If you can dream it, you can do it.</p>
					<small><cite title="Source Title" id="quoteAuthor">Walt Disney</cite></small>
					<button id="loadOtherQuote" class="btn btn-success" style="padding-top: 3px; padding-bottom: 3px; margin-top: 12px;">
						<span class="glyphicon glyphicon-repeat noAnimate" id="quoteSpan"></span> Another quote
					</button>
				</blockquote>
	        </div>
        </nav>
    </div>
</div>